<ion-view title="ANY>150-250>3-4 Bed>Bath" id="page85" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/YevW5w2mTVyftGQpoyRk_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="aNY15025034BedBath-heading69" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckeebpmbh0,4" id="aNY15025034BedBath-button312" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckeedhj75o,4" id="aNY15025034BedBath-button313" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckeebzu315,4" id="aNY15025034BedBath-button314" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>