<ion-view title="ANY > 0-150 >1-2 Bed > Bath" id="page68" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/zUXszTW4TcuXfLuRVeFX_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="aNY15012BedBath-heading52" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckedb2cdzt,4" id="aNY15012BedBath-button261" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckedg34t57,4" id="aNY15012BedBath-button262" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckedi9n8na,4" id="aNY15012BedBath-button263" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>