<ion-view title="ANY > 0-150 >5+ Bed > Bath" id="page70" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/jmMFqlQWHkgwVOSIvAn9_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="aNY1505BedBath-heading54" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckedohsdl7,4" id="aNY1505BedBath-button267" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckedotyuts,4" id="aNY1505BedBath-button268" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckedt5ylsx,4" id="aNY1505BedBath-button269" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>