<ion-view title="ANY > 0-150 >3-4 Bed > Bath" id="page69" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/4mwDaaQrRbiWwPwfoujp_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="aNY15034BedBath-heading53" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckedl28cyp,4" id="aNY15034BedBath-button264" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckednij1tj,4" id="aNY15034BedBath-button265" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/183g5dxw1b0t,4" id="aNY15034BedBath-button266" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>