<ion-view title="ANY>250+>1-2 Bed>Bath" id="page100" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/zGVVIX0yRnGhIdeZaKd7_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="aNY25012BedBath-heading84" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckeekhlgoh,4" id="aNY25012BedBath-button357" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckeellcsxa,4" id="aNY25012BedBath-button358" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckeem6axro,4" id="aNY25012BedBath-button359" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>