<ion-view title="Bender Realty" id="page1">
  <ion-content padding="true" style="background: url(img/ANBAxWyETnWTSXwr5yVL_Red20Pine20Screenshot.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <div>
      <img src="img/8JI5LjM4QW6jb2IPptEg_BenderRealtyEllipse.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="benderRealty-list2">
      <ion-item class="item-thumbnail-left item-icon-right" id="benderRealty-list-item4" ui-sref="menu.detroitLakesListings()">
        <img src="img/l1dYjtioR8m597Xcurr8_detroit_lakes_property-2.jpg">
        <h2>Detroit Lakes</h2>
        <p style="white-space:normal;">Listings</p>
        <i class="icon ion-android-send"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="benderRealty-list-item5" ui-sref="menu.fargoMoorheadListings()">
        <img src="img/vknRO0PMTtO5Kv69Mj1l_fargo_moorhead_property.jpg">
        <h2>Fargo-Moorhead</h2>
        <p>Listings</p>
        <i class="icon ion-android-send"></i>
      </ion-item>
    </ion-list>
    <a href="tel:+1.218.236.9583" id="benderRealty-button1" style="color:#000000;" class="button button-balanced button-block">Call Us!</a>
    <a href="mailto:Amber@BenderRealtyInc.com" id="benderRealty-button3" style="color:#000000;" class="button button-balanced button-block">E-mail Us!</a>
    <a href-inappbrowser="http://BenderRealtyInc.com" id="benderRealty-button2" style="color:#000000;" class="button button-balanced button-block">Visit Our Mobile Site</a>
  </ion-content>
</ion-view>