<ion-view title="Detroit Lakes Listings" id="page5">
  <ion-content padding="true" style="background: url(img/WP2mhiaQxeVSVShndcfg_Lake20ScreenShot.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <div>
      <img src="img/HR84l37T4GKxLkijajbe_BenderRealtyEllipse.png" style="display: block; width: 80%; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="menu.whichCityDL()" id="detroitLakesListings-button5" style="color:#000000;" class="button button-balanced button-block">Residential Listings</a>
    <a ui-sref="menu.whichLake()" id="detroitLakesListings-button6" style="color:#000000;" class="button button-balanced button-block">Lake Homes</a>
    <a ui-sref="menu.lakeLotPrice()" id="detroitLakesListings-button1156" style="color:#000000;" class="button button-balanced button-block">Lakeshore Land</a>
    <a href-inappbrowser="https://link.flexmls.com/1arrwqm14my7,4&amp;p2=false&amp;listingevent=new&amp;listingeventhours=72" id="detroitLakesListings-button1158" style="color:#000000;" class="button button-balanced button-block">New Listings</a>
    <a href-inappbrowser="https://link.flexmls.com/1arrwqm14my7,4" id="detroitLakesListings-button4" style="color:#000000;" class="button button-balanced button-block">All DL Listings</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckfx9lpgw4,4" id="detroitLakesListings-button1162" style="color:#000000;" class="button button-balanced button-block">Investment Properties</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckfx80er8x,4" id="detroitLakesListings-button1163" style="color:#000000;" class="button button-balanced button-block">Auctions and Foreclosures</a>
  </ion-content>
</ion-view>