<ion-view title="DL>150-250>3-4 Bed>Bath" id="page34" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/UEuoS3N7TCzIEd5gnqIh_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="dL15025034BedBath-heading15" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckefamw92b,4" id="dL15025034BedBath-button95" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckefcl47n3,4" id="dL15025034BedBath-button96" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckefdzygm9,4" id="dL15025034BedBath-button97" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>