<ion-view title="DL>150-250>1-2 Bed>Bath" id="page33" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/w6qZ2TVyp5Qu6O9kBQmd_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="dL15025012BedBath-heading14" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckef8zxn15,4" id="dL15025012BedBath-button92" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckef9a45gi,4" id="dL15025012BedBath-button93" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckefa8k0l2,4" id="dL15025012BedBath-button94" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>