<ion-view title="DL > 0-150 >5+ Bed > Bath" id="page29" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/WqK8XsNaTviEu7cZmd8B_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="dL1505BedBath-heading10" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckef0kfy10,4" id="dL1505BedBath-button80" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckef1zzx15,4" id="dL1505BedBath-button81" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckef299lhq,4" id="dL1505BedBath-button82" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>