<ion-view title="DL>250-350>5+ Bed>Bath" id="page39" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/7DQfpP0SSmYPpcSg31uR_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="dL2503505BedBath-heading20" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckehl32xqx,4" id="dL2503505BedBath-button110" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckehljnn8t,4" id="dL2503505BedBath-button111" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckehmw1c40,4" id="dL2503505BedBath-button112" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>