<ion-view title="DL>350+>Any>Bath" id="page44" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/a0TPN3cHRKOJTAFPz4jM_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="dL350AnyBath-heading25" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckei6n7bq0,4" id="dL350AnyBath-button125" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckei851xva,4" id="dL350AnyBath-button126" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckei8kyzy2,4" id="dL350AnyBath-button127" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>