<ion-view title="DL>350+>5+ Bed>Bath" id="page43" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/YWxeeeEkSCi74Plzh4dm_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="dL3505BedBath-heading24" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckei4os7s7,4" id="dL3505BedBath-button122" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckei51v3l1,4" id="dL3505BedBath-button123" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckei5f8d71,4" id="dL3505BedBath-button124" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>