<ion-view title="DL Lake Homes by Price" id="page104" style="background-color:#8D9A9A;">
  <ion-content padding="true" style="background: url(img/Lqu8MB9bS3idaXyNoYhu_Lake20ScreenShot.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/AldRUpfDRdabJdA0tQCn_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="dLLakeHomesByPrice-button-bar4" class="button-bar"></div>
    <a href-inappbrowser="https://link.flexmls.com/1dckg1bplvmq,4" id="dLLakeHomesByPrice-button372" style="color:#000000;border-radius:0px 0px 0px 0px;" class="button button-balanced button-block">$0 - $150k</a>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <a href-inappbrowser="https://link.flexmls.com/1dckg1d5qk54,4" id="dLLakeHomesByPrice-button373" style="color:#000000;" class="button button-balanced button-block">$150 - $200k</a>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <a href-inappbrowser="https://link.flexmls.com/1dckg1au9s7x,4" id="dLLakeHomesByPrice-button374" style="color:#000000;" class="button button-balanced button-block">$200 - $250k</a>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <a href-inappbrowser="https://link.flexmls.com/1dckg1em01o2,4" id="dLLakeHomesByPrice-button375" style="color:#000000;" class="button button-balanced button-block">$250 - $300k</a>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <a href-inappbrowser="https://link.flexmls.com/1dckg1gn79j6,4" id="dLLakeHomesByPrice-button376" style="color:#000000;" class="button button-balanced button-block">$300 - $350k</a>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <a href-inappbrowser="https://link.flexmls.com/1dckg1jbn70s,4" id="dLLakeHomesByPrice-button377" style="color:#000000;" class="button button-balanced button-block">$350 - $400k</a>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <a href-inappbrowser="https://link.flexmls.com/1dckg1l6bp8y,4" id="dLLakeHomesByPrice-button379" style="color:#000000;" class="button button-balanced button-block">$400 - $450k</a>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <a href-inappbrowser="https://link.flexmls.com/1dckg1mfv3nb,4" id="dLLakeHomesByPrice-button387" style="color:#000000;" class="button button-balanced button-block">$450 - $500k</a>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <a href-inappbrowser="https://link.flexmls.com/1dckg1owhuf9,4" id="dLLakeHomesByPrice-button380" style="color:#000000;" class="button button-balanced button-block">$500 - $550k</a>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <a href-inappbrowser="https://link.flexmls.com/1dckg1qkvo5c,4" id="dLLakeHomesByPrice-button388" style="color:#000000;" class="button button-balanced button-block">$550 - $600k</a>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <a href-inappbrowser="https://link.flexmls.com/1dckg1rwfh37,4" id="dLLakeHomesByPrice-button390" style="color:#000000;" class="button button-balanced button-block">$600 - $650k</a>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <a href-inappbrowser="https://link.flexmls.com/1dckg1v09c7d,4" id="dLLakeHomesByPrice-button389" style="color:#000000;" class="button button-balanced button-block">$650 - $700k</a>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <a href-inappbrowser="https://link.flexmls.com/1dckg20evzgh,4" id="dLLakeHomesByPrice-button378" style="color:#000000;" class="button button-balanced button-block">$700k+</a>
  </ion-content>
</ion-view>