<ion-view title="DL > Price 0-150 > Bedrooms" id="page12" style="background-color:#8D9A9A;">
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/NaEWR0m0Z5wS3Ylc9wTs_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="dLPrice150Bedrooms-heading1" style="color:#000000;text-align:center;">Bedrooms?</h1>
    <a ui-sref="menu.dL15012BedBath()" id="dLPrice150Bedrooms-button13" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.dL15034BedBath()" id="dLPrice150Bedrooms-button14" style="color:#000000;" class="button button-balanced button-block">3 - 4</a>
    <a ui-sref="menu.dL1505BedBath()" id="dLPrice150Bedrooms-button20" style="color:#000000;" class="button button-balanced button-block">5+</a>
    <a ui-sref="menu.dL150AnyBath()" id="dLPrice150Bedrooms-button21" style="color:#000000;" class="button button-balanced button-block">Any Number</a>
  </ion-content>
</ion-view>