<ion-view title="FAR>125-200>Any>1-2>Garage" id="page151" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR125200Any12Garage-heading130" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183ize65mwh7,4" id="fAR125200Any12Garage-button553" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183ize9qvl0g,4" id="fAR125200Any12Garage-button554" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183izeabwaws,4" id="fAR125200Any12Garage-button555" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>