<ion-view title="FAR> 0-125 >1-2 Bed > Bath" id="page110" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR12512BedBath-heading89" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.fAR1251212Garage()" id="fAR12512BedBath-button429" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.fAR125123Garage()" id="fAR12512BedBath-button430" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.fAR12512AnyGarage()" id="fAR12512BedBath-button432" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>