<ion-view title="FAR>125-200>5+>3+>Garage" id="page149" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR12520053Garage-heading128" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183izdtg68my,4" id="fAR12520053Garage-button547" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183izdv8cnij,4" id="fAR12520053Garage-button548" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183izdzomv1b,4" id="fAR12520053Garage-button549" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>