<ion-view title="FAR>125-200>3-4>Any>Garage" id="page147" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR12520034AnyGarage-heading126" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183izd3bfz09,4" id="fAR12520034AnyGarage-button541" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183izd5u7pmt,4" id="fAR12520034AnyGarage-button542" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183izd82kbjz,4" id="fAR12520034AnyGarage-button543" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>