<ion-view title="FAR>125-200>5+>1-2>Garage" id="page148" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR125200512Garage-heading127" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183izdmmk68z,4" id="fAR125200512Garage-button544" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183izdo51yhx,4" id="fAR125200512Garage-button545" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183izdq0gjqv,4" id="fAR125200512Garage-button546" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>