<ion-view title="FAR>0-125>3-4>Any>Garage" id="page135" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR12534AnyGarage-heading114" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183iz4v8gm4h,4" id="fAR12534AnyGarage-button505" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183iz4xuowf8,4" id="fAR12534AnyGarage-button506" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183iz530bw9o,4" id="fAR12534AnyGarage-button507" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>