<ion-view title="FAR>0-125>3-4>3+>Garage" id="page134" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR125343Garage-heading113" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183iz4mf979l,4" id="fAR125343Garage-button502" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183iz4ra7ws0,4" id="fAR125343Garage-button503" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183iz4taluzt,4" id="fAR125343Garage-button504" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>