<ion-view title="FAR> 125-200 >5+ Bed > Bath" id="page116" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR1252005BedBath-heading95" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.fAR125200512Garage()" id="fAR1252005BedBath-button448" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.fAR12520053Garage()" id="fAR1252005BedBath-button449" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.fAR1252005AnyGarage()" id="fAR1252005BedBath-button450" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>