<ion-view title="FAR>0-125>5+>1-2>Garage" id="page136" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR125512Garage-heading115" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183iz5g3qdbk,4" id="fAR125512Garage-button508" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183iz7llxp9a,4" id="fAR125512Garage-button509" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183iz9bmszgy,4" id="fAR125512Garage-button510" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>