<ion-view title="FAR>0-125>3-4>1-2>Garage" id="page133" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR1253412Garage-heading112" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183iz3nlq0po,4" id="fAR1253412Garage-button499" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183iz4g7zoh9,4" id="fAR1253412Garage-button500" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183iz4jbdas1,4" id="fAR1253412Garage-button501" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>