<ion-view title="FAR>200-250>1-2>3+>Garage" id="page155" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR200250123Garage-heading134" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183jbw15tegz,4" id="fAR200250123Garage-button565" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183jbw2owadk,4" id="fAR200250123Garage-button566" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183jbw48w4d9,4" id="fAR200250123Garage-button567" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>