<ion-view title="FAR>250-300>1-2>3+>Garage" id="page167" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR250300123Garage-heading146" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183jc04fwe39,4" id="fAR250300123Garage-button601" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183jc06v7rsg,4" id="fAR250300123Garage-button602" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183jc08xk4bt,4" id="fAR250300123Garage-button603" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>