<ion-view title="FAR> 250-300 >3-4 Bed > Bath" id="page123" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR25030034BedBath-heading102" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.fAR2503003412Garage()" id="fAR25030034BedBath-button469" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.fAR250300343Garage()" id="fAR25030034BedBath-button470" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.fAR25030034AnyGarage()" id="fAR25030034BedBath-button471" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>