<ion-view title="FAR>250-300>5+>1-2>Garage" id="page172" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR250300512Garage-heading151" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183jc14316n3,4" id="fAR250300512Garage-button616" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183jc15uuez6,4" id="fAR250300512Garage-button617" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183jc177tiy1,4" id="fAR250300512Garage-button618" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>