<ion-view title="FAR>200-250>5+>Any>Garage" id="page162" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR2002505AnyGarage-heading141" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183jbz5dhv1m,4" id="fAR2002505AnyGarage-button586" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183jbz6w0jc2,4" id="fAR2002505AnyGarage-button587" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183jbz8gao64,4" id="fAR2002505AnyGarage-button588" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>