<ion-view title="FAR> 250-300 >Any Bed > Bath" id="page125" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR250300AnyBedBath-heading104" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.fAR250300Any12Garage()" id="fAR250300AnyBedBath-button475" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.fAR250300Any3Garage()" id="fAR250300AnyBedBath-button476" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.fAR250300AnyAnyGarage()" id="fAR250300AnyBedBath-button477" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>