<ion-view title="FAR>200-250>Any>Any>Garage" id="page165" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR200250AnyAnyGarage-heading144" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183jbzkk6tcs,4" id="fAR200250AnyAnyGarage-button595" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183jbzn2lpuv,4" id="fAR200250AnyAnyGarage-button596" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183jbzqvfjy1,4" id="fAR200250AnyAnyGarage-button597" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>