<ion-view title="FAR>250-300>Any>Any>Garage" id="page177" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR250300AnyAnyGarage-heading156" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183jc3mxa9zd,4" id="fAR250300AnyAnyGarage-button631" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183jc3nf14fx,4" id="fAR250300AnyAnyGarage-button632" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183jc3oqmqnu,4" id="fAR250300AnyAnyGarage-button633" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>