<ion-view title="FAR> 200-250 >3-4 Bed > Bath" id="page119" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR20025034BedBath-heading98" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.fAR2002503412Garage()" id="fAR20025034BedBath-button457" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.fAR200250343Garage()" id="fAR20025034BedBath-button458" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.fAR20025034AnyGarage()" id="fAR20025034BedBath-button459" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>