<ion-view title="FAR>250-300>3-4>Any>Garage" id="page171" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR25030034AnyGarage-heading150" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183jc0xyt6he,4" id="fAR25030034AnyGarage-button613" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183jc0zk4ana,4" id="fAR25030034AnyGarage-button614" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183jc112o04k,4" id="fAR25030034AnyGarage-button615" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>