<ion-view title="FAR> 200-250 >1-2 Bed > Bath" id="page118" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR20025012BedBath-heading97" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.fAR2002501212Garage()" id="fAR20025012BedBath-button454" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.fAR200250123Garage()" id="fAR20025012BedBath-button455" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.fAR20025012AnyGarage()" id="fAR20025012BedBath-button456" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>