<ion-view title="FAR>200-250>5+>1-2>Garage" id="page160" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR200250512Garage-heading139" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183jbytodo41,4" id="fAR200250512Garage-button580" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183jbyv1kb0b,4" id="fAR200250512Garage-button581" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183jbyx3ut6m,4" id="fAR200250512Garage-button582" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>