<ion-view title="FAR>200-250>Any>1-2>Garage" id="page163" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR200250Any12Garage-heading142" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183jbzakjhe2,4" id="fAR200250Any12Garage-button589" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183jbzbz2s2s,4" id="fAR200250Any12Garage-button590" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183jbzdf7xi7,4" id="fAR200250Any12Garage-button591" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>