<ion-view title="FAR>250-300>3-4>3+>Garage" id="page170" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR250300343Garage-heading149" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/183jc0r0ldty,4" id="fAR250300343Garage-button610" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/183jc0t0op0y,4" id="fAR250300343Garage-button611" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/183jc0upfxes,4" id="fAR250300343Garage-button612" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>