<ion-view title="FAR>300+>Any>3+>Garage" id="page188" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR300Any3Garage-heading167" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aivrv71afbk,4" id="fAR300Any3Garage-button664" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivrv93bmnp,4" id="fAR300Any3Garage-button665" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivrx839avz,4" id="fAR300Any3Garage-button666" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>