<ion-view title="FAR>300+>3-4>3+>Garage" id="page182" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR300343Garage-heading161" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aivrtu0bx82,4" id="fAR300343Garage-button646" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivrtvumc32,4" id="fAR300343Garage-button647" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivrtxcam4w,4" id="fAR300343Garage-button648" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>