<ion-view title="FAR>300+>3-4>1-2>Garage" id="page181" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR3003412Garage-heading160" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aivrtngf3av,4" id="fAR3003412Garage-button643" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivrtq1trr2,4" id="fAR3003412Garage-button644" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivrtrqvj14,4" id="fAR3003412Garage-button645" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>