<ion-view title="FAR> 300+ >1-2 Bed > Bath" id="page126" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR30012BedBath-heading105" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.fAR3001212Garage()" id="fAR30012BedBath-button478" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.fAR300123Garage()" id="fAR30012BedBath-button479" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.fAR30012AnyGarage()" id="fAR30012BedBath-button480" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>