<ion-view title="FAR>300+>1-2>3+>Garage" id="page179" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR300123Garage-heading158" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aivrt4rkkph,4" id="fAR300123Garage-button637" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivrt6l6hya,4" id="fAR300123Garage-button638" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivrt8m3ybn,4" id="fAR300123Garage-button639" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>