<ion-view title="FAR>300+>Any>1-2>Garage" id="page187" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR300Any12Garage-heading166" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aivruvi2qj3,4" id="fAR300Any12Garage-button661" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivruytv77h,4" id="fAR300Any12Garage-button662" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivrv25k7dg,4" id="fAR300Any12Garage-button663" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>