<ion-view title="FAR> 300+ >Any Bed > Bath" id="page129" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR300AnyBedBath-heading108" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.fAR300Any12Garage()" id="fAR300AnyBedBath-button487" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.fAR300Any3Garage()" id="fAR300AnyBedBath-button488" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.fAR300AnyAnyGarage()" id="fAR300AnyBedBath-button489" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>