<ion-view title="FAR> 300+ >5+ Bed > Bath" id="page128" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR3005BedBath-heading107" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.fAR300512Garage()" id="fAR3005BedBath-button484" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.fAR30053Garage()" id="fAR3005BedBath-button485" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.fAR3005AnyGarage()" id="fAR3005BedBath-button486" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>