<ion-view title="FAR>300+>5+>Any>Garage" id="page186" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR3005AnyGarage-heading165" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aivrup0ubyd,4" id="fAR3005AnyGarage-button658" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivruqtg98v,4" id="fAR3005AnyGarage-button659" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivrusgwlnu,4" id="fAR3005AnyGarage-button660" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>