<ion-view title="FAR>300+>Any>Any>Garage" id="page189" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="fAR300AnyAnyGarage-heading168" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aivrxexpkp5,4" id="fAR300AnyAnyGarage-button667" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivrxhn20nv,4" id="fAR300AnyAnyGarage-button668" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aivrxjyh9zc,4" id="fAR300AnyAnyGarage-button669" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>