<ion-view title="FAR> Price 125-200 > Bedrooms" id="page106" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/vssc3bNTQ1mZXObyXFBr_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="fARPrice125200Bedrooms-heading33" style="color:#000000;text-align:center;">Bedrooms?</h1>
    <a ui-sref="menu.fAR12520012BedBath()" id="fARPrice125200Bedrooms-button413" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.fAR12520034BedBath()" id="fARPrice125200Bedrooms-button414" style="color:#000000;" class="button button-balanced button-block">3 - 4</a>
    <a ui-sref="menu.fAR1252005BedBath()" id="fARPrice125200Bedrooms-button415" style="color:#000000;" class="button button-balanced button-block">5+</a>
    <a ui-sref="menu.fAR125200AnyBedBath()" id="fARPrice125200Bedrooms-button416" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>