<ion-view title="FV > 0-150 >Any > Bath" id="page31" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/3UHZzwlGTyKYvdrGCw3x_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="fV150AnyBath-heading43" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckfr923k1u,4" id="fV150AnyBath-button234" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckfr9ck68b,4" id="fV150AnyBath-button235" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckfrciggbo,4" id="fV150AnyBath-button236" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>