<ion-view title="FV > 0-150 >5+ Bed > Bath" id="page22" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/MAilfsM3TzmyIuI8tsji_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="fV1505BedBath-heading42" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckfpcwqf5n,4" id="fV1505BedBath-button231" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckfpd7aief,4" id="fV1505BedBath-button232" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckfpdiusj6,4" id="fV1505BedBath-button233" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>