<ion-view title="FV>250+>5+ Bed>Bath" id="page90" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/RPWBrtI2SnaKOeJPDkOL_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="fV2505BedBath-heading74" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckfrwfehuf,4" id="fV2505BedBath-button327" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckfrwml9f0,4" id="fV2505BedBath-button328" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckfrxkgp6j,4" id="fV2505BedBath-button329" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>