<ion-view title="LA>150-250>Any>Bath" id="page83" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/VUhqzObGTCeZSgCZMCgo_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="lA150250AnyBath-heading67" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckftyl9am1,4" id="lA150250AnyBath-button306" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckftyw8fg4,4" id="lA150250AnyBath-button307" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckfvu487mj,4" id="lA150250AnyBath-button308" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>