<ion-view title="LA>150-250>1-2 Bed>Bath" id="page80" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/gd90WuGkRkilTJ26tiMH_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="lA15025012BedBath-heading64" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckftom35ln,4" id="lA15025012BedBath-button297" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckftu0m6s4,4" id="lA15025012BedBath-button298" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckftuxw0ya,4" id="lA15025012BedBath-button299" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>