<ion-view title="LA > 0-150 >Any > Bath" id="page67" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/CzVRwFxlS56UxB11is6C_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="lA150AnyBath-heading51" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckftn98o6u,4" id="lA150AnyBath-button258" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckftnhzhgn,4" id="lA150AnyBath-button259" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckftocve4u,4" id="lA150AnyBath-button260" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>