<ion-view title="LA > 0-150 >1-2 Bed > Bath" id="page64" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/pdcJGag1TVmst4HRft1W_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="lA15012BedBath-heading48" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckfs85v73h,4" id="lA15012BedBath-button249" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckftg2u3ez,4" id="lA15012BedBath-button250" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckftgc6jwk,4" id="lA15012BedBath-button251" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>