<ion-view title="LA > 0-150 >3-4 Bed > Bath" id="page65" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/4tAmSNJSQs2aKqugk2eU_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="lA15034BedBath-heading49" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckftgmwj74,4" id="lA15034BedBath-button252" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckftk5qp59,4" id="lA15034BedBath-button253" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckftl3ryfb,4" id="lA15034BedBath-button254" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>