<ion-view title="LA > Price 250+ > Bedrooms" id="page55" style="background-color:#8D9A9A;">
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/VZh0Rc1wRauE8z6UMyU6_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="lAPrice250Bedrooms-heading36" style="color:#000000;text-align:center;">Bedrooms?</h1>
    <a ui-sref="menu.lA25012BedBath()" id="lAPrice250Bedrooms-button168" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.lA25034BedBath()" id="lAPrice250Bedrooms-button169" style="color:#000000;" class="button button-balanced button-block">3 - 4</a>
    <a ui-sref="menu.lA2505BedBath()" id="lAPrice250Bedrooms-button170" style="color:#000000;" class="button button-balanced button-block">5+</a>
    <a ui-sref="menu.lA250AnyBath()" id="lAPrice250Bedrooms-button171" style="color:#000000;" class="button button-balanced button-block">Any Number</a>
  </ion-content>
</ion-view>