<ion-view title="LA > Price 0-150 > Bedrooms" id="page53" style="background-color:#8D9A9A;">
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/BrIAnlxqQJ6o70rB5iUv_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="lAPrice150Bedrooms-heading34" style="color:#000000;text-align:center;">Bedrooms?</h1>
    <a ui-sref="menu.lA15012BedBath()" id="lAPrice150Bedrooms-button160" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.lA15034BedBath()" id="lAPrice150Bedrooms-button161" style="color:#000000;" class="button button-balanced button-block">3 - 4</a>
    <a ui-sref="menu.lA1505BedBath()" id="lAPrice150Bedrooms-button162" style="color:#000000;" class="button button-balanced button-block">5+</a>
    <a ui-sref="menu.lA150AnyBath()" id="lAPrice150Bedrooms-button163" style="color:#000000;" class="button button-balanced button-block">Any Number</a>
  </ion-content>
</ion-view>