<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-balanced">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" style="background: url(img/YtSD7t1lSwuGvIP7wTwk_Lake.jpg) no-repeat center;background-size:cover;" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item id="menu-list-item1" ui-sref="menu.benderRealty()" menu-close="">Home</ion-item>
        <ion-item id="menu-list-item2" ui-sref="menu.detroitLakesListings()" menu-close="">Detroit Lakes Listings</ion-item>
        <ion-item id="menu-list-item6" ui-sref="menu.fargoMoorheadListings()" menu-close="">Fargo-Moorhead Listings</ion-item>
        <ion-item id="menu-list-item7" href-inappbrowser="http://BenderRealtyInc.com">BenderRealtyInc.com</ion-item>
        <ion-item class="item-icon-right" id="menu-list-item3" href="tel:+1.218.236.9583">Call Us!
          <i class="icon ion-android-phone-portrait"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>