<ion-view title="MHD>125-200>1-2>1-2>Garage" id="page227" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD1252001212Garage-heading206" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiybvawx90i,4" id="mHD1252001212Garage-button752" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybvbz64y2,4" id="mHD1252001212Garage-button753" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybvcdb4bq,4" id="mHD1252001212Garage-button754" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>