<ion-view title="MHD> 125-200 >5+ Bed > Bath" id="page201" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD1252005BedBath-heading180" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.mHD125200512Garage()" id="mHD1252005BedBath-button709" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.mHD12520053Garage()" id="mHD1252005BedBath-button710" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.mHD1252005AnyGarage()" id="mHD1252005BedBath-button711" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>