<ion-view title="MHD>0-125>3-4>1-2>Garage" id="page218" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD1253412Garage-heading197" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiybu3chkls,4" id="mHD1253412Garage-button398" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybu3o5ktv,4" id="mHD1253412Garage-button402" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybu41bksb,4" id="mHD1253412Garage-button403" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>