<ion-view title="MHD>125-200>Any>3+>Garage" id="page237" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD125200Any3Garage-heading216" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiyby6zpmtl,4" id="mHD125200Any3Garage-button782" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyby80km2b,4" id="mHD125200Any3Garage-button783" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyby8k51z3,4" id="mHD125200Any3Garage-button784" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>