<ion-view title="MHD>125-200>Any>1-2>Garage" id="page236" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD125200Any12Garage-heading215" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiyby4u65a5,4" id="mHD125200Any12Garage-button779" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyby5n6jzt,4" id="mHD125200Any12Garage-button780" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyby6omvuu,4" id="mHD125200Any12Garage-button781" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>