<ion-view title="MHD>0-125>1-2>1-2>Garage" id="page215" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD1251212Garage-heading194" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiybtvnylv2,4" id="mHD1251212Garage-button369" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybtx1m3jn,4" id="mHD1251212Garage-button370" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybtxgo9e2,4" id="mHD1251212Garage-button371" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>