<ion-view title="MHD>0-125>5+>3+>Garage" id="page222" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD12553Garage-heading201" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiybuu7uoiw,4" id="mHD12553Garage-button737" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybuvf8r0n,4" id="mHD12553Garage-button738" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybuvwesh0,4" id="mHD12553Garage-button739" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>