<ion-view title="MHD>0-125>1-2>3+>Garage" id="page216" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD125123Garage-heading195" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiybtykdxtc,4" id="mHD125123Garage-button381" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybtzwl89a,4" id="mHD125123Garage-button382" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybu09wru3,4" id="mHD125123Garage-button383" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>