<ion-view title="MHD>125-200>5+>3+>Garage" id="page234" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD12520053Garage-heading213" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiyby0azw6i,4" id="mHD12520053Garage-button773" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyby0ng9fb,4" id="mHD12520053Garage-button774" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyby1oy35y,4" id="mHD12520053Garage-button775" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>