<ion-view title="MHD>125-200>3-4>1-2>Garage" id="page230" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD1252003412Garage-heading209" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiybxguh1pw,4" id="mHD1252003412Garage-button761" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybxhum51z,4" id="mHD1252003412Garage-button762" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybxlmnxjp,4" id="mHD1252003412Garage-button763" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>