<ion-view title="MHD>125-200>3-4>3+>Garage" id="page231" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD125200343Garage-heading210" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiybxmn3k0x,4" id="mHD125200343Garage-button764" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybxqaforx,4" id="mHD125200343Garage-button765" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybxrkhiy1,4" id="mHD125200343Garage-button766" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>