<ion-view title="MHD> 0-125 >Any Bed > Bath" id="page198" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD125AnyBedBath-heading177" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.mHD125Any12Garage()" id="mHD125AnyBedBath-button700" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.mHD125Any3Garage()" id="mHD125AnyBedBath-button701" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.mHD125AnyAnyGarage()" id="mHD125AnyBedBath-button702" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>