<ion-view title="MHD> 125-200 >1-2 Bed > Bath" id="page199" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD12520012BedBath-heading178" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.mHD1252001212Garage()" id="mHD12520012BedBath-button703" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.mHD125200123Garage()" id="mHD12520012BedBath-button704" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.mHD12520012AnyGarage()" id="mHD12520012BedBath-button705" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>