<ion-view title="MHD>250-300>Any>3+>Garage" id="page261" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD250300Any3Garage-heading240" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiylxm82iu7,4" id="mHD250300Any3Garage-button854" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylxnkndwh,4" id="mHD250300Any3Garage-button855" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylxodasze,4" id="mHD250300Any3Garage-button856" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>