<ion-view title="MHD>200-250>5+>3+>Garage" id="page246" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD20025053Garage-heading225" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiyc4iqtdlk,4" id="mHD20025053Garage-button809" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyc4m4q558,4" id="mHD20025053Garage-button810" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyc4mrk2i6,4" id="mHD20025053Garage-button811" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>