<ion-view title="MHD>200-250>Any>1-2>Garage" id="page248" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD200250Any12Garage-heading227" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiylvshrgox,4" id="mHD200250Any12Garage-button815" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylvvpca7x,4" id="mHD200250Any12Garage-button816" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylvx3ypa3,4" id="mHD200250Any12Garage-button817" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>