<ion-view title="MHD> 250-300 >Any Bed > Bath" id="page210" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD250300AnyBedBath-heading189" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.mHD250300Any12Garage()" id="mHD250300AnyBedBath-button173" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.mHD250300Any3Garage()" id="mHD250300AnyBedBath-button174" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.mHD250300AnyAnyGarage()" id="mHD250300AnyBedBath-button175" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>