<ion-view title="MHD>250-300>5+>Any>Garage" id="page259" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD2503005AnyGarage-heading238" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiylxct98u5,4" id="mHD2503005AnyGarage-button848" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylxej2q0x,4" id="mHD2503005AnyGarage-button849" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylxfykymg,4" id="mHD2503005AnyGarage-button850" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>