<ion-view title="MHD>250-300>3-4>Any>Garage" id="page256" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD25030034AnyGarage-heading235" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiylwxxipep,4" id="mHD25030034AnyGarage-button839" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylwzfp0ad,4" id="mHD25030034AnyGarage-button840" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylx0tjzso,4" id="mHD25030034AnyGarage-button841" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>