<ion-view title="MHD>250-300>5+>3+>Garage" id="page258" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD25030053Garage-heading237" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiylx68pj13,4" id="mHD25030053Garage-button845" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylxb0sf19,4" id="mHD25030053Garage-button846" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylxcauukl,4" id="mHD25030053Garage-button847" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>