<ion-view title="MHD>250-300>1-2>1-2>Garage" id="page251" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD2503001212Garage-heading230" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiylw705uua,4" id="mHD2503001212Garage-button824" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylw8hqoat,4" id="mHD2503001212Garage-button825" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylwc4bp32,4" id="mHD2503001212Garage-button826" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>