<ion-view title="MHD>200-250>Any>3+>Garage" id="page249" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD200250Any3Garage-heading228" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiylvyekn0g,4" id="mHD200250Any3Garage-button818" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylvz1a7ct,4" id="mHD200250Any3Garage-button819" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylw0bx8xx,4" id="mHD200250Any3Garage-button820" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>