<ion-view title="MHD>200-250>3-4>1-2>Garage" id="page242" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD2002503412Garage-heading221" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiybz4ejamy,4" id="mHD2002503412Garage-button797" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyc425ksgy,4" id="mHD2002503412Garage-button798" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyc42shxwb,4" id="mHD2002503412Garage-button799" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>