<ion-view title="MHD>200-250>5+>1-2>Garage" id="page245" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD200250512Garage-heading224" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiyc4fa27qr,4" id="mHD200250512Garage-button806" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyc4fzkbq1,4" id="mHD200250512Garage-button807" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyc4hasbvt,4" id="mHD200250512Garage-button808" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>