<ion-view title="MHD>200-250>Any>Any>Garage" id="page250" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD200250AnyAnyGarage-heading229" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiylw1y12x8,4" id="mHD200250AnyAnyGarage-button821" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylw3bzqbw,4" id="mHD200250AnyAnyGarage-button822" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylw5n3t60,4" id="mHD200250AnyAnyGarage-button823" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>