<ion-view title="MHD>250-300>1-2>Any>Garage" id="page253" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD25030012AnyGarage-heading232" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiylwi8u7by,4" id="mHD25030012AnyGarage-button830" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylwj2yzgg,4" id="mHD25030012AnyGarage-button831" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylwlpi5x5,4" id="mHD25030012AnyGarage-button832" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>