<ion-view title="MHD>200-250>1-2>1-2>Garage" id="page239" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD2002501212Garage-heading218" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiybym0tc94,4" id="mHD2002501212Garage-button788" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybyna5a5z,4" id="mHD2002501212Garage-button789" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiybynue21d,4" id="mHD2002501212Garage-button790" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>