<ion-view title="MHD> 250-300 >3-4 Bed > Bath" id="page208" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD25030034BedBath-heading187" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.mHD2503003412Garage()" id="mHD25030034BedBath-button140" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.mHD250300343Garage()" id="mHD25030034BedBath-button142" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.mHD25030034AnyGarage()" id="mHD25030034BedBath-button143" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>