<ion-view title="MHD>300+>1-2>3+>Garage" id="page264" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD300123Garage-heading243" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiylxy2n2u8,4" id="mHD300123Garage-button863" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylxzlajof,4" id="mHD300123Garage-button864" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyly10dqoy,4" id="mHD300123Garage-button865" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>