<ion-view title="MHD>300+>3-4>Any>Garage" id="page268" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD30034AnyGarage-heading247" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiym0i1r63r,4" id="mHD30034AnyGarage-button875" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym0kd6l41,4" id="mHD30034AnyGarage-button876" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym0lkq8wv,4" id="mHD30034AnyGarage-button877" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>