<ion-view title="MHD>300+>1-2>Any>Garage" id="page265" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD30012AnyGarage-heading244" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiyly32bg5f,4" id="mHD30012AnyGarage-button866" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyly4fke5v,4" id="mHD30012AnyGarage-button867" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyly5pyoud,4" id="mHD30012AnyGarage-button868" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>