<ion-view title="MHD>300+>3-4>1-2>Garage" id="page266" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD3003412Garage-heading245" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiyly6b14xt,4" id="mHD3003412Garage-button869" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiyly7llbut,4" id="mHD3003412Garage-button870" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiylyerrxsl,4" id="mHD3003412Garage-button871" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>