<ion-view title="MHD>300+>Any>Any>Garage" id="page274" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD300AnyAnyGarage-heading253" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiym159cshh,4" id="mHD300AnyAnyGarage-button893" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym15qmjzf,4" id="mHD300AnyAnyGarage-button894" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym16x7y8e,4" id="mHD300AnyAnyGarage-button895" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>