<ion-view title="MHD>300+>5+>1-2>Garage" id="page269" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD300512Garage-heading248" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiym0nbd8rm,4" id="mHD300512Garage-button878" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym0nuqyv2,4" id="mHD300512Garage-button879" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym0qfteye,4" id="mHD300512Garage-button880" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>