<ion-view title="MHD>300+>Any>3+>Garage" id="page273" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="mHD300Any3Garage-heading252" style="color:#000000;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiym11vqt5h,4" id="mHD300Any3Garage-button890" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym12fv0au,4" id="mHD300Any3Garage-button891" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym13pwcca,4" id="mHD300Any3Garage-button892" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>