<ion-view title="MHD> Price 250-300 > Bedrooms" id="page194" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/6ZUIWHToRjS3v85CUuYe_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="mHDPrice250300Bedrooms-heading173" style="color:#000000;text-align:center;">Bedrooms?</h1>
    <a ui-sref="menu.mHD25030012BedBath()" id="mHDPrice250300Bedrooms-button686" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.mHD25030034BedBath()" id="mHDPrice250300Bedrooms-button687" style="color:#000000;" class="button button-balanced button-block">3 - 4</a>
    <a ui-sref="menu.mHD2503005BedBath()" id="mHDPrice250300Bedrooms-button688" style="color:#000000;" class="button button-balanced button-block">5+</a>
    <a ui-sref="menu.mHD250300AnyBedBath()" id="mHDPrice250300Bedrooms-button689" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>