<ion-view title="MHD> Price 0-125 > Bedrooms" id="page190" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/6ZUIWHToRjS3v85CUuYe_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="mHDPrice125Bedrooms-heading169" style="color:#000000;text-align:center;">Bedrooms?</h1>
    <a ui-sref="menu.mHD12512BedBath()" id="mHDPrice125Bedrooms-button670" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.mHD12534BedBath()" id="mHDPrice125Bedrooms-button671" style="color:#000000;" class="button button-balanced button-block">3 - 4</a>
    <a ui-sref="menu.mHD1255BedBath()" id="mHDPrice125Bedrooms-button672" style="color:#000000;" class="button button-balanced button-block">5+</a>
    <a ui-sref="menu.mHD125AnyBedBath()" id="mHDPrice125Bedrooms-button673" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>