<ion-view title="MHD> Price 125-200 > Bedrooms" id="page191" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/6ZUIWHToRjS3v85CUuYe_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="mHDPrice125200Bedrooms-heading170" style="color:#000000;text-align:center;">Bedrooms?</h1>
    <a ui-sref="menu.mHD12520012BedBath()" id="mHDPrice125200Bedrooms-button674" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.mHD12520034BedBath()" id="mHDPrice125200Bedrooms-button675" style="color:#000000;" class="button button-balanced button-block">3 - 4</a>
    <a ui-sref="menu.mHD1252005BedBath()" id="mHDPrice125200Bedrooms-button676" style="color:#000000;" class="button button-balanced button-block">5+</a>
    <a ui-sref="menu.mHD125200AnyBedBath()" id="mHDPrice125200Bedrooms-button677" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>