<ion-view title="MHD> Price 200-250 > Bedrooms" id="page193" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/6ZUIWHToRjS3v85CUuYe_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="mHDPrice200250Bedrooms-heading172" style="color:#000000;text-align:center;">Bedrooms?</h1>
    <a ui-sref="menu.mHD20025012BedBath()" id="mHDPrice200250Bedrooms-button682" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.mHD20025034BedBath()" id="mHDPrice200250Bedrooms-button683" style="color:#000000;" class="button button-balanced button-block">3 - 4</a>
    <a ui-sref="menu.mHD2002505BedBath()" id="mHDPrice200250Bedrooms-button684" style="color:#000000;" class="button button-balanced button-block">5+</a>
    <a ui-sref="menu.mHD200250AnyBedBath()" id="mHDPrice200250Bedrooms-button685" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>