<ion-view title="PR>150-250>3-4 Bed>Bath" id="page77" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/sHAHt08QDWHhDodLCuNA_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="pR15025034BedBath-heading61" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckfwsxxg6n,4" id="pR15025034BedBath-button288" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckfwt5662o,4" id="pR15025034BedBath-button289" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckfwurl3ho,4" id="pR15025034BedBath-button290" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>