<ion-view title="PR>150-250>5+ Bed>Bath" id="page78" style="background-color:#8D9A9A;">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/Hb2BHFxJSvGs4ZuQpIkh_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="pR1502505BedBath-heading62" style="color:#000000;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1dckg0ph2wne,4" id="pR1502505BedBath-button291" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckg0pt1l4n,4" id="pR1502505BedBath-button292" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1dckg0q4wq39,4" id="pR1502505BedBath-button293" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>