<ion-view title="PR > Price 0-150 > Bedrooms" id="page49" style="background-color:#8D9A9A;">
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/wI3YX2pWQ82TkyMMZoVI_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="pRPrice150Bedrooms-heading30" style="color:#000000;text-align:center;">Bedrooms?</h1>
    <a ui-sref="menu.pR15012BedBath()" id="pRPrice150Bedrooms-button144" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.pR15034BedBath()" id="pRPrice150Bedrooms-button145" style="color:#000000;" class="button button-balanced button-block">3 - 4</a>
    <a ui-sref="menu.pR1505BedBath()" id="pRPrice150Bedrooms-button146" style="color:#000000;" class="button button-balanced button-block">5+</a>
    <a ui-sref="menu.pR150AnyBath()" id="pRPrice150Bedrooms-button147" style="color:#000000;" class="button button-balanced button-block">Any Number</a>
  </ion-content>
</ion-view>