<ion-view title="SA> 125-200 >1-2 Bed > Bath" id="page392" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/7uwycdC8SwSxUsWua4Nu_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="sA12520012BedBath-heading367" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0twlhfse,4" id="sA12520012BedBath-button1283" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0tyovj2i,4" id="sA12520012BedBath-button1284" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0u1t4ujv,4" id="sA12520012BedBath-button1285" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>