<ion-view title="SA> 200-250 >1-2 Bed > Bath" id="page396" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/7uwycdC8SwSxUsWua4Nu_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="sA20025012BedBath-heading371" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0uudyxe6,4" id="sA20025012BedBath-button1295" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0uvw3n8y,4" id="sA20025012BedBath-button1296" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0uxc9hgy,4" id="sA20025012BedBath-button1297" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>