<ion-view title="SA> 200-250 >Any Bed > Bath" id="page399" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/7uwycdC8SwSxUsWua4Nu_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="sA200250AnyBedBath-heading374" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0v8sz7p8,4" id="sA200250AnyBedBath-button1304" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0ve3c36h,4" id="sA200250AnyBedBath-button1305" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0vftq7zy,4" id="sA200250AnyBedBath-button1306" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>