<ion-view title="SA> 250-300 >3-4 Bed > Bath" id="page401" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/7uwycdC8SwSxUsWua4Nu_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="sA25030034BedBath-heading376" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0vp2w5oj,4" id="sA25030034BedBath-button1310" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0vppxr5c,4" id="sA25030034BedBath-button1311" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0vr685a6,4" id="sA25030034BedBath-button1312" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>