<ion-view title="SA> 250-300 >Any Bed > Bath" id="page403" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/7uwycdC8SwSxUsWua4Nu_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="sA250300AnyBedBath-heading378" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0xwzef8i,4" id="sA250300AnyBedBath-button1316" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0y082xs7,4" id="sA250300AnyBedBath-button1317" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiz0yf6lt6d,4" id="sA250300AnyBedBath-button1318" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>