<ion-view title="West Fargo > Price Range" id="page362" style="background-color:#8D9A9A;">
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/GttTQifRZOaaDswpbMdJ_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="westFargoPriceRange-heading352" style="color:#000000;text-align:center;">Price Range?</h1>
    <a ui-sref="menu.wFPrice125Bedrooms()" id="westFargoPriceRange-button1164" style="color:#000000;" class="button button-balanced button-block">$0 - $125k</a>
    <a ui-sref="menu.wFPrice125200Bedrooms()" id="westFargoPriceRange-button1165" style="color:#000000;" class="button button-balanced button-block">$125 - $200k</a>
    <a ui-sref="menu.wFPrice200250Bedrooms()" id="westFargoPriceRange-button1166" style="color:#000000;" class="button button-balanced button-block">$200 - $250k</a>
    <a ui-sref="menu.wFPrice250300Bedrooms()" id="westFargoPriceRange-button1167" style="color:#000000;" class="button button-balanced button-block">$250 - $300k</a>
    <a ui-sref="menu.wFPrice300Bedrooms()" id="westFargoPriceRange-button1168" style="color:#000000;" class="button button-balanced button-block">$300k+</a>
  </ion-content>
</ion-view>