<ion-view title="WF>125-200>5+>3+>Garage" id="page320" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF12520053Garage-heading298" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiym5733w2p,4" id="wF12520053Garage-button1036" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym58h25t2,4" id="wF12520053Garage-button1037" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym5bxcj5d,4" id="wF12520053Garage-button1038" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>