<ion-view title="WF>0-125>5+>1-2>Garage" id="page307" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF125512Garage-heading285" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiym1zb7qon,4" id="wF125512Garage-button997" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym1ztvzgi,4" id="wF125512Garage-button998" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym20zf8ez,4" id="wF125512Garage-button999" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>