<ion-view title="WF> 125-200 >5+ Bed > Bath" id="page287" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF1252005BedBath-heading265" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.wF125200512Garage()" id="wF1252005BedBath-button937" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF12520053Garage()" id="wF1252005BedBath-button938" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.wF1252005AnyGarage()" id="wF1252005BedBath-button939" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>