<ion-view title="WF> 0-125 >3-4 Bed > Bath" id="page282" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF12534BedBath-heading260" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.wF1253412Garage()" id="wF12534BedBath-button922" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF125343Garage()" id="wF12534BedBath-button923" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.wF12534AnyGarage()" id="wF12534BedBath-button924" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>