<ion-view title="WF>0-125>3-4>1-2>Garage" id="page304" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF1253412Garage-heading282" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiym1pcphzj,4" id="wF1253412Garage-button988" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym1puoc8w,4" id="wF1253412Garage-button989" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym1rav7pj,4" id="wF1253412Garage-button990" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>