<ion-view title="WF> 0-125 >5+ Bed > Bath" id="page283" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF1255BedBath-heading261" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.wF125512Garage()" id="wF1255BedBath-button925" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF12553Garage()" id="wF1255BedBath-button926" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.wF1255AnyGarage()" id="wF1255BedBath-button927" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>