<ion-view title="WF> 0-125 >Any Bed > Bath" id="page284" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF125AnyBedBath-heading262" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.wF125Any12Garage()" id="wF125AnyBedBath-button928" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF125Any3Garage()" id="wF125AnyBedBath-button929" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.wF125AnyAnyGarage()" id="wF125AnyBedBath-button930" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>