<ion-view title="WF> 0-125 >1-2 Bed > Bath" id="page281" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF12512BedBath-heading259" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.wF1251212Garage()" id="wF12512BedBath-button918" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF125123Garage()" id="wF12512BedBath-button919" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.wF12512AnyGarage()" id="wF12512BedBath-button921" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>