<ion-view title="WF>125-200>1-2>Any>Garage" id="page315" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF12520012AnyGarage-heading293" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiym2w2zj0c,4" id="wF12520012AnyGarage-button1021" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym2wiyt2q,4" id="wF12520012AnyGarage-button1022" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym2xnvutt,4" id="wF12520012AnyGarage-button1023" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>