<ion-view title="WF>125-200>3-4>3+>Garage" id="page317" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF125200343Garage-heading295" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiym31itbm6,4" id="wF125200343Garage-button1027" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym4z7uid7,4" id="wF125200343Garage-button1028" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym50f80hh,4" id="wF125200343Garage-button1029" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>