<ion-view title="WF>125-200>1-2>1-2>Garage" id="page313" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF1252001212Garage-heading291" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiym2ma08pi,4" id="wF1252001212Garage-button1015" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym2mwlzhj,4" id="wF1252001212Garage-button1016" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym2ohftwr,4" id="wF1252001212Garage-button1017" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>