<ion-view title="WF>0-125>3-4>3+>Garage" id="page305" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF125343Garage-heading283" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiym1siz98y,4" id="wF125343Garage-button991" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym1ugee9z,4" id="wF125343Garage-button992" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym1vn218f,4" id="wF125343Garage-button993" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>