<ion-view title="WF>125-200>Any>Any>Garage" id="page324" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF125200AnyAnyGarage-heading302" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiym5nfzb9b,4" id="wF125200AnyAnyGarage-button1048" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym5o5xo1x,4" id="wF125200AnyAnyGarage-button1049" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiym5pjv8sw,4" id="wF125200AnyAnyGarage-button1050" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>