<ion-view title="WF> 125-200 >1-2 Bed > Bath" id="page285" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF12520012BedBath-heading263" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.wF1252001212Garage()" id="wF12520012BedBath-button931" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF125200123Garage()" id="wF12520012BedBath-button932" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.wF12520012AnyGarage()" id="wF12520012BedBath-button933" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>