<ion-view title="WF> 200-250 >5+ Bed > Bath" id="page291" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF2002505BedBath-heading269" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.wF200250512Garage()" id="wF2002505BedBath-button949" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF20025053Garage()" id="wF2002505BedBath-button950" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.wF2002505AnyGarage()" id="wF2002505BedBath-button951" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>