<ion-view title="WF>200-250>Any>3+>Garage" id="page335" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF200250Any3Garage-heading313" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiymbet54pk,4" id="wF200250Any3Garage-button1081" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymbg1c9u0,4" id="wF200250Any3Garage-button1082" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymbgkmjnr,4" id="wF200250Any3Garage-button1083" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>