<ion-view title="WF>200-250>3-4>1-2>Garage" id="page328" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF2002503412Garage-heading306" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiymat8jw68,4" id="wF2002503412Garage-button1060" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymaufhhuv,4" id="wF2002503412Garage-button1061" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymauzmxof,4" id="wF2002503412Garage-button1062" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>