<ion-view title="WF>200-250>Any>Any>Garage" id="page336" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF200250AnyAnyGarage-heading314" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiymbhtbe4d,4" id="wF200250AnyAnyGarage-button1084" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymbiyg0oh,4" id="wF200250AnyAnyGarage-button1085" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymbjgktmr,4" id="wF200250AnyAnyGarage-button1086" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>