<ion-view title="WF>250-300>3-4>3+>Garage" id="page341" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF250300343Garage-heading319" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiymbwqg0qu,4" id="wF250300343Garage-button1099" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymbxwea3u,4" id="wF250300343Garage-button1100" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymbyh2m73,4" id="wF250300343Garage-button1101" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>