<ion-view title="WF> 250-300 >1-2 Bed > Bath" id="page293" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF25030012BedBath-heading271" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.wF2503001212Garage()" id="wF25030012BedBath-button955" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF250300123Garage()" id="wF25030012BedBath-button956" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.wF25030012AnyGarage()" id="wF25030012BedBath-button957" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>