<ion-view title="WF>250-300>1-2>Any>Garage" id="page339" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF25030012AnyGarage-heading317" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiymbqcba1j,4" id="wF25030012AnyGarage-button1093" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymbrvodom,4" id="wF25030012AnyGarage-button1094" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymbtc3mou,4" id="wF25030012AnyGarage-button1095" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>