<ion-view title="WF>250-300>5+>3+>Garage" id="page344" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF25030053Garage-heading322" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiymc53krd5,4" id="wF25030053Garage-button1108" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymc6b29ui,4" id="wF25030053Garage-button1109" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymc6x2wrg,4" id="wF25030053Garage-button1110" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>