<ion-view title="WF> 250-300 >Any Bed > Bath" id="page296" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF250300AnyBedBath-heading274" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.wF250300Any12Garage()" id="wF250300AnyBedBath-button964" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF250300Any3Garage()" id="wF250300AnyBedBath-button965" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.wF250300AnyAnyGarage()" id="wF250300AnyBedBath-button966" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>