<ion-view title="WF>300+>1-2>Any>Garage" id="page351" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF30012AnyGarage-heading329" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiymepsryxq,4" id="wF30012AnyGarage-button1129" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymerbjziq,4" id="wF30012AnyGarage-button1130" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymesk8gnq,4" id="wF30012AnyGarage-button1131" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>