<ion-view title="WF>300+>5+>1-2>Garage" id="page355" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF300512Garage-heading333" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiymf4b2rk8,4" id="wF300512Garage-button1141" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymf5lrmnw,4" id="wF300512Garage-button1142" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymf67m24m,4" id="wF300512Garage-button1143" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>