<ion-view title="WF> 300+ >Any Bed > Bath" id="page300" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF300AnyBedBath-heading278" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.wF300Any12Garage()" id="wF300AnyBedBath-button976" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF300Any3Garage()" id="wF300AnyBedBath-button977" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.wF300AnyAnyGarage()" id="wF300AnyBedBath-button978" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>