<ion-view title="WF>300+>Any>1-2>Garage" id="page357" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF300Any12Garage-heading335" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiymfcsj7st,4" id="wF300Any12Garage-button1147" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymfe1ix98,4" id="wF300Any12Garage-button1148" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymfeh57sz,4" id="wF300Any12Garage-button1149" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>