<ion-view title="WF>300+>5+>3+>Garage" id="page356" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF30053Garage-heading334" style="color:#000000;font-weight:400;text-align:center;">Garage Stalls?</h1>
    <a href-inappbrowser="https://link.flexmls.com/1aiymf7f8utt,4" id="wF30053Garage-button1144" style="color:#000000;" class="button button-balanced button-block">0 - 1</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymf81iyam,4" id="wF30053Garage-button1145" style="color:#000000;" class="button button-balanced button-block">2</a>
    <a href-inappbrowser="https://link.flexmls.com/1aiymf95x1ju,4" id="wF30053Garage-button1146" style="color:#000000;" class="button button-balanced button-block">3+</a>
  </ion-content>
</ion-view>