<ion-view title="WF> 300+ >1-2 Bed > Bath" id="page297" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF30012BedBath-heading275" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.wF3001212Garage()" id="wF30012BedBath-button967" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF300123Garage()" id="wF30012BedBath-button968" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.wF30012AnyGarage()" id="wF30012BedBath-button969" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>