<ion-view title="WF> 300+ >5+ Bed > Bath" id="page299" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <h1 id="wF3005BedBath-heading277" style="color:#000000;font-weight:400;text-align:center;">Bathrooms?</h1>
    <a ui-sref="menu.wF300512Garage()" id="wF3005BedBath-button973" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF30053Garage()" id="wF3005BedBath-button974" style="color:#000000;" class="button button-balanced button-block">3+</a>
    <a ui-sref="menu.wF3005AnyGarage()" id="wF3005BedBath-button975" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>