<ion-view title="WF> Price 200-250 > Bedrooms" id="page278" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/SV0lpcEQLGsTT6YwAxTw_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="wFPrice200250Bedrooms-heading256" style="color:#000000;font-weight:400;text-align:center;">Bedrooms?</h1>
    <a ui-sref="menu.wF20025012BedBath()" id="wFPrice200250Bedrooms-button906" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF20025034BedBath()" id="wFPrice200250Bedrooms-button907" style="color:#000000;" class="button button-balanced button-block">3 - 4</a>
    <a ui-sref="menu.wF2002505BedBath()" id="wFPrice200250Bedrooms-button908" style="color:#000000;" class="button button-balanced button-block">5+</a>
    <a ui-sref="menu.wF200250AnyBedBath()" id="wFPrice200250Bedrooms-button909" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>