<ion-view title="WF> Price 0-125 > Bedrooms" id="page276" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/SV0lpcEQLGsTT6YwAxTw_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="wFPrice125Bedrooms-heading254" style="color:#000000;font-weight:400;text-align:center;">Bedrooms?</h1>
    <a ui-sref="menu.wF12512BedBath()" id="wFPrice125Bedrooms-button206" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF12534BedBath()" id="wFPrice125Bedrooms-button213" style="color:#000000;" class="button button-balanced button-block">3 - 4</a>
    <a ui-sref="menu.wF1255BedBath()" id="wFPrice125Bedrooms-button214" style="color:#000000;" class="button button-balanced button-block">5+</a>
    <a ui-sref="menu.wF125AnyBedBath()" id="wFPrice125Bedrooms-button215" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>