<ion-view title="WF> Price 300+ > Bedrooms" id="page280" style="background-color:#8D9A9A;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/SV0lpcEQLGsTT6YwAxTw_BenderRealtyEllipse.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="wFPrice300Bedrooms-heading258" style="color:#000000;font-weight:400;text-align:center;">Bedrooms?</h1>
    <a ui-sref="menu.wF30012BedBath()" id="wFPrice300Bedrooms-button914" style="color:#000000;" class="button button-balanced button-block">1 - 2</a>
    <a ui-sref="menu.wF30034BedBath()" id="wFPrice300Bedrooms-button915" style="color:#000000;" class="button button-balanced button-block">3 - 4</a>
    <a ui-sref="menu.wF3005BedBath()" id="wFPrice300Bedrooms-button916" style="color:#000000;" class="button button-balanced button-block">5+</a>
    <a ui-sref="menu.wF300AnyBedBath()" id="wFPrice300Bedrooms-button917" style="color:#000000;" class="button button-balanced button-block">Any</a>
  </ion-content>
</ion-view>